@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');

.letter {
   
  font-size:20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  color: #222;
    
  }

  .d-h1,.d-h2{ 
    font-family: 'Sansita Swashed', cursive;
  }

  
  

  